<!DOCTYPE html>
<html lang="en">
<head>
  <title>iacono</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="http://fonts.googleapis.com/css?family=Buenard:700,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/tw-bootstrap.css" type="text/css" media="all">
  <link rel="stylesheet" href="/css/application.css" type="text/css" media="all">
</head>
<body>
  <a id="top" name="top">
  <div class="container">
    <div class="header">
      <a href="/">
        <h1 id="logo">Iacono</h1>
      </a>
      <ul class="navigation">
        <li><a href="/about.html">About</a></li>
        <li><a rel="external" href="http://feeds.feedburner.com/iacono-central">Subscribe</a></li>
        <li><a rel="external" href="http://elegantbuild.com">Work</a></li>
        <li><a rel="external" href="http://twitter.com/jeffreyiacono">Twitter</a></li>
        <li><a rel="external" href="http://github.com/jeffreyiacono">Github</a></li>
      </ul>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </div>
  <div class="footer">
    created by jeff iacono. hooray.
  </div>
</body>
</html>
